In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [26]:
import numpy as np
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline

In [28]:
boston = pd.read_csv("Boston.csv")

In [30]:
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [32]:
X = boston[['lstat']] #double bracket becoz r2_score need 2-d data to change 1 single column into dataframe we do this 
y = boston['medv']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=24, test_size = 0.3)

In [34]:
lr = LinearRegression()

In [36]:
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
r2_score(y_test, y_pred) #it requires 2D X for calculation

0.5279301917445974

In [38]:
### Polynomial features
poly = PolynomialFeatures(degree = 3,include_bias = False).set_output(transform='pandas') #bias = false means 1 is not included here and then we convert the output to the pandas which was earlier in numpy array
X_poly_trn = poly.fit_transform(X_train)
X_poly_tst = poly.transform(X_test)# tranform before giving it to predict() 
lr.fit(X_poly_trn,y_train)
y_pred = lr.predict(X_poly_tst)
r2_score(y_test,y_pred)

0.6464637609380752

In [40]:
#Taking columns : 'rad' & 'lstat'

X = boston[['lstat','rad']]

In [42]:
y= boston['medv']

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=24, test_size = 0.3)

In [46]:
poly = PolynomialFeatures(degree = 3,include_bias = False).set_output(transform='pandas') #bias = false means 1 is not included here and then we convert the output to the pandas which was earlier in numpy array
X_poly_trn = poly.fit_transform(X_train)
X_poly_tst = poly.transform(X_test)# tranform before giving it to predict() 
lr.fit(X_poly_trn,y_train)
y_pred = lr.predict(X_poly_tst)
r2_score(y_test,y_pred)

0.6883404673189563

In [48]:
X_poly_trn.columns

Index(['lstat', 'rad', 'lstat^2', 'lstat rad', 'rad^2', 'lstat^3',
       'lstat^2 rad', 'lstat rad^2', 'rad^3'],
      dtype='object')

In [50]:
X = boston.drop('medv',axis = 1)
y = boston['medv']

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=24, test_size = 0.3)

In [54]:
poly = PolynomialFeatures(degree = 1,include_bias = False).set_output(transform='pandas') #bias = false means 1 is not included here and then we convert the output to the pandas which was earlier in numpy array
X_poly_trn = poly.fit_transform(X_train)
X_poly_tst = poly.transform(X_test)# tranform before giving it to predict() 
lr.fit(X_poly_trn,y_train)
y_pred = lr.predict(X_poly_tst)
r2_score(y_test,y_pred)

0.7133431144123464

In [56]:
poly = PolynomialFeatures(degree = 2,include_bias = False).set_output(transform='pandas') #bias = false means 1 is not included here and then we convert the output to the pandas which was earlier in numpy array
X_poly_trn = poly.fit_transform(X_train)
X_poly_tst = poly.transform(X_test)# tranform before giving it to predict() 
lr.fit(X_poly_trn,y_train)
y_pred = lr.predict(X_poly_tst)
r2_score(y_test,y_pred)

0.6950286611541465

In [60]:

poly = PolynomialFeatures(degree = 2,include_bias = False).set_output(transform='pandas')
lr = LinearRegression()
pipe = Pipeline([('POLY',poly),('LR',lr)])

In [64]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
r2_score(y_test,y_pred)

0.6950286611541465

In [66]:
## housing dataset

housing = pd.read_csv("Housing.csv")

In [68]:
housing.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no