In [1]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in c:\users\dai.studentsdc\appdata\local\anaconda3\lib\site-packages (1.1.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dai.studentsdc\appdata\local\anaconda3\lib\site-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\dai.studentsdc\appdata\local\anaconda3\lib\site-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\dai.studentsdc\appdata\local\anaconda3\lib\site-packages (from scikit-surprise) (1.11.4)

In [2]:
import pandas as pd
import numpy as np
import surprise
import os

In [3]:
os.chdir(r"C:\Users\dai\Desktop\S-AI\MachineLearning\Day14\filmtrust")
ratings = pd.read_csv("ratings.txt",sep=' ',names = ['uid','iid','rating'])
ratings.head()

   uid  iid  rating
0    1    1     2.0
1    1    2     4.0
2    1    3     3.5
3    1    4     3.0
4    1    5     4.0

In [4]:
lowest_rating = ratings['rating'].min()
highest_rating = ratings['rating'].max()
print("Ratings range between {0} and {1}".format(lowest_rating,highest_rating))

Ratings range between 0.5 and 4.0

In [5]:
reader = surprise.Reader(rating_scale = (lowest_rating,highest_rating))
data = surprise.Dataset.load_from_df(ratings,reader)
type(data)

surprise.dataset.DatasetAutoFolds

Tuning for best parameters

In [7]:
from surprise.model_selection import GridSearchCV
from surprise.model_selection.split import KFold

param_grid = {'lr_all':np.linspace(0.001,1,3), 'reg_all': np.linspace(0.01,0.8,3),
              'n_factors':[40,30]}
kfold = KFold(random_state=23,n_splits=5,shuffle=True)
gs = GridSearchCV(surprise.SVD, param_grid,joblib_verbose =3, measures=['rmse', 'mae'],
                  cv=kfold,n_jobs=-1)
gs.fit(data)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  90 out of  90 | elapsed:    4.8s finished

Best Score:

In [9]:
print(gs.best_score['rmse'])

0.828803667189417

Best Parameter:

In [11]:
print(gs.best_params['rmse'])

{'lr_all': 0.001, 'reg_all': 0.01, 'n_factors': 40}

We can now use the algorithm that yields the best rmse:

In [13]:
algo = gs.best_estimator['rmse']
algo.fit(data.build_full_trainset())

The recommendations can be generated for any user with the object **algo**.

Total Items:

In [16]:
iids = ratings['iid'].unique()
print(iids)

[   1    2    3 ... 2069 2070 2071]

The list of items rated by user 50:

In [18]:
u_iid = ratings[ratings['uid']==50]['iid'].unique()
print(u_iid)

[  8 211   3   2 219 234  12 254 250 207  11 253 236  84  10   7 233  13
   1   5   6 252 241 216 257 206   4 217   9 215 213  17 255 220 121 245
 239 251 235]

List of the items not rated by user 50:

In [20]:
iids_to_predict = np.setdiff1d(iids, u_iid)
print(iids_to_predict)

[  14   15   16 ... 2069 2070 2071]

Extracting the estimated rating from iids_to_predict

In [22]:
testset = [[50,iid,0.] for iid in iids_to_predict]
predictions = algo.test(testset)

In [23]:
predictions[0]

Prediction(uid=50, iid=14, r_ui=0.0, est=3.2530130730327973, details={'was_impossible': False})

In [24]:
pred_ratings = np.array([pred.est for pred in predictions])

Getting the item with highest expected rating

In [26]:
i_max = np.argmax(pred_ratings)
print("Item:",iids_to_predict[i_max],"is the item with highest expected rating as",pred_ratings[i_max])

Item: 318 is the item with highest expected rating as 3.684541035281165

In [27]:
exp_ratings = pd.DataFrame({'Item_ID': iids_to_predict, 'Exp_Rating':pred_ratings})
exp_ratings.sort_values(by=['Exp_Rating','Item_ID'], ascending=[False, True], inplace=True)
exp_ratings.head(10)

     Item_ID  Exp_Rating
278      318    3.684541
194      218    3.664036
765      805    3.600222
392      432    3.595076
246      286    3.593821
635      675    3.583971
259      299    3.552355
307      347    3.536989
970     1010    3.524216
472      512    3.507641